.input{
    width:500px;
    height:40px;
    border-radius: 5px;
  }
  .input-container{
    display:flex;
    justify-content: center;
    margin: 10px;
  }
  .label{
    display:flex;
    align-items: center;
    padding: 10px;
    font-size: 25px;
  }
  .heading{
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
  }
  .submit{
    height:30px;
    border: none;
    width:150px;
    border-radius:5px;
  }